
.content {
overflow: none;
width: 100%;
max-width: 790px;
padding: 0px 0;
height: 500px;
position: relative;
margin: 20px auto;
} 

/*  Events display */
.meals-container {
overflow-y: scroll;
height: 100%;
width: 50%;
float: right;
margin: 0px auto;
display: flex;
flex-direction: column;
align-items: center;
background: #0cc6f5; 
padding: 0px;
border-bottom-right-radius: 3px;
border-top-right-radius: 3px;
}
@media (max-width: 767.98px) {
    .meals-container {
    width: 100%;
    height: auto; } }

.meals-container:after {
clear: both; }


